.counter {
  @apply bg-primary-purple;
  display: inline-block;
  padding: 10px;
  min-width: 100%;
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  .label {
    font-size: 11px;
  }
}

@media (min-width: 576px) {
  .counter {
    min-width: 100px;
    margin: 20px;
    padding: 15px;
    font-size: 40px;

    .label {
      font-size: 14px;
    }
  }
}
@media (min-width: 768px) {
  .counter {
    min-width: 120px;
    margin: 20px;
    padding: 15px;
    font-size: 46px;

    .label {
      font-size: 14px;
    }
  }
}
