@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: 100%;
  margin: 0 auto;
  max-width: 320px;
}
@media (min-width: 576px) {
  .custom-container {
    max-width: 470px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 668px;
  }
}
@media (min-width: 992px) {
  .custom-container {
    max-width: 892px;
  }
}
@media (min-width: 1200px) {
  .custom-container {
    max-width: 1100px;
  }
}
@media (min-width: 1400px) {
  .custom-container {
    max-width: 1200px;
  }
}

.title {
  text-transform: uppercase;
  padding: 10px 0;
  position: relative;
  font-weight: 700;
  color: #18181c;
}

.title.purple-before::before {
  @apply border-[3px];
  @apply border-primary-purple;
  content: " ";
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
}
.title.cyan-before::before {
  @apply border-[3px];
  @apply border-primary-cyan;
  content: " ";
  position: absolute;
  width: 30px;
  left: 0;
  top: 0;
}
.title.wave-before::before {
  content: " ";
  position: absolute;
  background: url("../assets/svg/blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 30px;
  left: 0;
  top: 0;
}

.description {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color: #838383;
}

.input {
  width: 100%;
  font-size: 12px;
  padding: 7px 12px;
  border-radius: 7px;
  background-color: transparent;
  border: solid 1px #1f1039;
  font-weight: 500;

  outline: 0 !important;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
.label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}
