// Define variables for hamburger icon

// Hamburger icon styles
.hamburger {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
  }
  &::after {
    top: -10px;
  }
  &::before {
    top: 10px;
  }
}

.footer-link {
  display: flex;
  .social-link {
    @apply border-[3px];
    @apply border-primary-cyan;
    @apply flex justify-center items-center cursor-pointer;
    display: block;
    padding: 5px;
    border-radius: 50%;
    svg {
      fill: #00b7bb !important;
    }
    &:nth-child(1) {
      &:hover {
        transition: all 0.3s ease-in-out;
        @apply bg-primary-cyan;
        svg {
          fill: white !important;
        }
      }
    }
    // &:nth-child(2) {
    //   border: 1px solid #ffcf3f;
    //   &:hover {
    //     background: #ffcf3f !important;
    //     svg {
    //       color: white !important;
    //     }
    //   }
    // }
    // &:nth-child(3) {
    //   @apply border-primary-purple;
    // }
    // &:nth-child(4) {
    //   @apply border-primary-cyan;
    // }
  }
}

.insta-feed{
  a {
    img{
      width: 95px;
      height: 80px;
      border-radius: 10px;
    }
  }
}