// Define variables for hamburger icon

// Hamburger icon styles
.hamburger {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
  }
  &::after {
    top: -10px;
  }
  &::before {
    top: 10px;
  }
}

.footer-link {
  display: flex;
  .social-link {
    border: 1px solid #f50136;
    display: block;
    padding: 5px;
    border-radius: 50%;
    &:nth-child(1) {
      @apply border-primary-blue;
      &:hover {
        background: #003b6d !important;
        svg {
          color: white !important;
        }
      }
    }
    &:nth-child(2) {
      border: 1px solid #ffcf3f;
      &:hover {
        background: #ffcf3f !important;
        svg {
          color: white !important;
        }
      }
    }
    &:nth-child(3) {
      @apply border-primary-purple;
    }
    &:nth-child(4) {
      @apply border-primary-cyan;
    }
  }
}
