// Define variables for hamburger icon

// Hamburger icon styles
.hamburger {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
  }
  &::after {
    top: -10px;
  }
  &::before {
    top: 10px;
  }
}

.footer-link {
  display: flex;
  .social-link {
    border: 1px solid #f50136;
    display: block;
    padding: 5px;
    border-radius: 50%;
  }
}
