.main-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (min-width: 768px) {
  .main-container {
    background-position: center;
  }
}

.counter-bg {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000066;
}

.about-card {
  background-color: #f0f2f6;
  padding: 15px 25px;
  margin: 25px 0;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 290px;

  .card-heading {
    color: #18181c;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 700;
  }
  .card-link {
    @apply text-primary-purple;
    font-size: 14px;
    font-weight: 600;
  }
  svg {
    @apply fill-primary-purple;
  }
  &:hover {
    @apply bg-primary-purple;
    .card-heading,
    p,
    svg,
    .card-link {
      color: #f0f2f6 !important;
    }
    svg {
      fill: #f0f2f6 !important;
    }
  }
}

.scaleup-container {
  position: relative;
  &::before {
    content: " ";
    background: url("../assets/svg/purple-wave.svg");
    fill: red;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-size: 200px 30px;
    position: absolute;
    top: -13px;
    // transform: rotate(180deg);
  }
}
.speaker {
  overflow: hidden;

  &:hover {
    div {
      @apply bg-primary-purple;
      h1 {
        color: #f0f2f6;
      }
      p {
        color: #f0f2f6;
      }
    }
    img {
      scale: 1.2;
      transition: all 0.2s ease-in-out;
    }
  }
}

.registration-bg {
  background-image: url("https://preview.colorlib.com/theme/evento/assets/img/bg/tickets.png.webp");
  background-size: cover;
  background-position: center;
  position: relative;
}
